modules = ["java-graalvm22.3", "bash"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "gradle", "android-tools"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Project Info"

[[workflows.workflow]]
name = "Project Info"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash info.sh && echo \"\" && echo \"Press Ctrl+C to exit\" && sleep infinity"

[[ports]]
localPort = 5000
externalPort = 80
